In [1]:
import pandas as pd

df = pd.read_csv('Uber Request Data8.csv')

In [2]:
print(df.head())

   Request id Pickup point  Driver id          Status Request timestamp  \
0         619      Airport        1.0  Trip Completed  11-07-2016 11:51
1         867      Airport        1.0  Trip Completed  11-07-2016 17:57
2        1807         City        1.0  Trip Completed  12-07-2016 09:17
3        2532      Airport        1.0  Trip Completed  12-07-2016 21:08
4        3112         City        1.0  Trip Completed  13-07-2016 08:33

     Drop timestamp
0  11-07-2016 13:00
1  11-07-2016 18:47
2  12-07-2016 09:58
3  12-07-2016 22:03
4  13-07-2016 09:25

In [3]:
print(df.tail())

      Request id Pickup point  Driver id             Status Request timestamp  \
6740        6745         City        NaN  No Cars Available  15-07-2016 23:49
6741        6752      Airport        NaN  No Cars Available  15-07-2016 23:50
6742        6751         City        NaN  No Cars Available  15-07-2016 23:52
6743        6754         City        NaN  No Cars Available  15-07-2016 23:54
6744        6753      Airport        NaN  No Cars Available  15-07-2016 23:55

     Drop timestamp
6740            NaN
6741            NaN
6742            NaN
6743            NaN
6744            NaN

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  6745 non-null   object
 5   Drop timestamp     2831 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 316.3+ KB
None

In [5]:
df.shape

(6745, 6)

In [6]:
df.columns

Index(['Request id', 'Pickup point', 'Driver id', 'Status',
       'Request timestamp', 'Drop timestamp'],
      dtype='object')

In [7]:
df.describe()

        Request id    Driver id
count  6745.000000  4095.000000
mean   3384.644922   149.501343
std    1955.099667    86.051994
min       1.000000     1.000000
25%    1691.000000    75.000000
50%    3387.000000   149.000000
75%    5080.000000   224.000000
max    6766.000000   300.000000

In [8]:
df.describe(include='object')

       Pickup point          Status Request timestamp    Drop timestamp
count          6745            6745              6745              2831
unique            2               3              4016              2282
top            City  Trip Completed  15-07-2016 19:19  13-07-2016 08:53
freq           3507            2831                 8                 5

In [9]:
df.isnull().sum()

Request id              0
Pickup point            0
Driver id            2650
Status                  0
Request timestamp       0
Drop timestamp       3914
dtype: int64

In [10]:
df.nunique()

Request id           6745
Pickup point            2
Driver id             300
Status                  3
Request timestamp    4016
Drop timestamp       2282
dtype: int64

In [11]:
df['Pickup point'].unique()

array(['Airport', 'City'], dtype=object)

In [12]:
df['Status'].unique()

array(['Trip Completed', 'Cancelled', 'No Cars Available'], dtype=object)

In [13]:
a= df['Pickup point'].value_counts()
b= df['Status'].value_counts()
print(a)
print(b)

Pickup point
City       3507
Airport    3238
Name: count, dtype: int64
Status
Trip Completed       2831
No Cars Available    2650
Cancelled            1264
Name: count, dtype: int64

In [15]:
#Convert timestamps to datetime
df['Request timestamp'] = pd.to_datetime(df['Request timestamp'],errors='coerce')
df['Drop timestamp'] = pd.to_datetime(df['Drop timestamp'],errors='coerce')
# Extract Date, Request Time, and Drop Time
df['Date'] = df['Request timestamp'].dt.date
df['Request Time'] = df['Request timestamp'].dt.time
df['Drop Time'] = df['Drop timestamp'].dt.time

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  2674 non-null   datetime64[ns]
 5   Drop timestamp     1150 non-null   datetime64[ns]
 6   Date               2674 non-null   object
 7   Request Time       2674 non-null   object
 8   Drop Time          1150 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(1), object(5)
memory usage: 474.4+ KB

In [17]:
# Calculate Trip Duration as a string (HH:MM:SS)
df['Trip Duration'] = df['Drop timestamp'] - df['Request timestamp']
df['Trip Duration'] = df['Trip Duration'].astype(str)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  2674 non-null   datetime64[ns]
 5   Drop timestamp     1150 non-null   datetime64[ns]
 6   Date               2674 non-null   object
 7   Request Time       2674 non-null   object
 8   Drop Time          1150 non-null   object
 9   Trip Duration      6745 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(1), object(6)
memory usage: 527.1+ KB

In [20]:
# Calculate Average Trip Duration in minutes
df['Avg Trip Duration'] = (df['Drop timestamp'] - df['Request timestamp']).dt.total_seconds() / 60
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  2674 non-null   datetime64[ns]
 5   Drop timestamp     1150 non-null   datetime64[ns]
 6   Date               2674 non-null   object
 7   Request Time       2674 non-null   object
 8   Drop Time          1150 non-null   object
 9   Trip Duration      6745 non-null   object
 10  Avg Trip Duration  1150 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(6)
memory usage: 579.8+ KB

In [21]:
def get_time_slot(hour):
    if 5 <= hour < 10:
        return "Morning Rush"
    elif 10 <= hour < 17:
        return "Day Time"
    elif 17 <= hour < 21:
        return "Evening Rush"
    elif 21 <= hour <= 23:
        return "Late Evening"
    else:
        return "Late Night"

df['Time Slot'] = df['Request timestamp'].dt.hour.apply(get_time_slot)

In [25]:
df.dropna(subset=['Request timestamp', 'Drop timestamp'], inplace=True)
df.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,Date,Request Time,Drop Time,Trip Duration,Avg Trip Duration,Time Slot
0,619,Airport,1.0,Trip Completed,2016-11-07 11:51:00,2016-11-07 13:00:00,2016-11-07,11:51:00,13:00:00,0 days 01:09:00,69.0,Day Time
1,867,Airport,1.0,Trip Completed,2016-11-07 17:57:00,2016-11-07 18:47:00,2016-11-07,17:57:00,18:47:00,0 days 00:50:00,50.0,Evening Rush
2,1807,City,1.0,Trip Completed,2016-12-07 09:17:00,2016-12-07 09:58:00,2016-12-07,09:17:00,09:58:00,0 days 00:41:00,41.0,Morning Rush
3,2532,Airport,1.0,Trip Completed,2016-12-07 21:08:00,2016-12-07 22:03:00,2016-12-07,21:08:00,22:03:00,0 days 00:55:00,55.0,Late Evening
9,267,City,2.0,Trip Completed,2016-11-07 06:46:00,2016-11-07 07:25:00,2016-11-07,06:46:00,07:25:00,0 days 00:39:00,39.0,Morning Rush

In [26]:
df.tail()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,Date,Request Time,Drop Time,Trip Duration,Avg Trip Duration,Time Slot
2808,1690,Airport,298.0,Trip Completed,2016-12-07 07:52:00,2016-12-07 08:56:00,2016-12-07,07:52:00,08:56:00,0 days 01:04:00,64.0,Morning Rush
2809,2404,Airport,298.0,Trip Completed,2016-12-07 20:00:00,2016-12-07 20:56:00,2016-12-07,20:00:00,20:56:00,0 days 00:56:00,56.0,Evening Rush
2819,1244,City,299.0,Trip Completed,2016-11-07 21:38:00,2016-11-07 22:15:00,2016-11-07,21:38:00,22:15:00,0 days 00:37:00,37.0,Late Evening
2820,2249,City,299.0,Trip Completed,2016-12-07 18:24:00,2016-12-07 19:09:00,2016-12-07,18:24:00,19:09:00,0 days 00:45:00,45.0,Evening Rush
2826,1315,Airport,300.0,Trip Completed,2016-11-07 22:54:00,2016-11-07 23:35:00,2016-11-07,22:54:00,23:35:00,0 days 00:41:00,41.0,Late Evening

In [27]:
df.to_csv("updated_dataset.csv", index=False)

In [28]:
df = pd.read_csv("updated_dataset.csv", parse_dates=['Request timestamp', 'Drop timestamp'])

In [29]:
print(df['Request timestamp'].dtype)

datetime64[ns]

In [30]:
df['Request timestamp'] = pd.to_datetime(df['Request timestamp'], errors='coerce')

In [31]:
df.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,Date,Request Time,Drop Time,Trip Duration,Avg Trip Duration,Time Slot
0,619,Airport,1.0,Trip Completed,2016-11-07 11:51:00,2016-11-07 13:00:00,2016-11-07,11:51:00,13:00:00,0 days 01:09:00,69.0,Day Time
1,867,Airport,1.0,Trip Completed,2016-11-07 17:57:00,2016-11-07 18:47:00,2016-11-07,17:57:00,18:47:00,0 days 00:50:00,50.0,Evening Rush
2,1807,City,1.0,Trip Completed,2016-12-07 09:17:00,2016-12-07 09:58:00,2016-12-07,09:17:00,09:58:00,0 days 00:41:00,41.0,Morning Rush
3,2532,Airport,1.0,Trip Completed,2016-12-07 21:08:00,2016-12-07 22:03:00,2016-12-07,21:08:00,22:03:00,0 days 00:55:00,55.0,Late Evening
4,267,City,2.0,Trip Completed,2016-11-07 06:46:00,2016-11-07 07:25:00,2016-11-07,06:46:00,07:25:00,0 days 00:39:00,39.0,Morning Rush

In [32]:
df.to_csv("cleaned_data1.csv", index=False, date_format='%Y-%m-%d %H:%M:%S')